/django_env
/Todolist.txt
KDN/lead/migrations/__pycache__/0003_lead_converted_to_client.cpython-313.pyc
KDN/lead/__pycache__/views.cpython-313.pyc
KDN/lead/__pycache__/urls.cpython-313.pyc
KDN/lead/__pycache__/models.cpython-313.pyc
KDN/KDN/__pycache__/settings.cpython-313.pyc
KDN/client/migrations/__pycache__/0001_initial.cpython-313.pyc
KDN/client/migrations/__pycache__/__init__.cpython-313.pyc
KDN/client/__pycache__/models.cpython-313.pyc
KDN/client/__pycache__/apps.cpython-313.pyc
KDN/client/__pycache__/admin.cpython-313.pyc
KDN/client/__pycache__/__init__.cpython-313.pyc
KDN/lead/__pycache__/views.cpython-313.pyc
KDN/lead/__pycache__/urls.cpython-313.pyc
KDN/lead/__pycache__/models.cpython-313.pyc
KDN/KDN/__pycache__/settings.cpython-313.pyc
