{% extends "core/base.html" %}

{% load tz %}

{% block title %}{{ lead.name }}{% endblock %}

{% block content %}
    <div class="py-4 px-4">
        <h1 class="mb-3 ml-3 font-mono text-2xl">{{ lead.name }}</h1>
    
        {% if lead.description %}
            <p class="font-semibold">Name</p>
            <p class="mb-2">{{ lead.description }}</p>
        {% endif %}

        <p class="font-semibold">Priority</p>
        <p class="mb-2">{{ lead.get_priority_display}}</p>

        <p class="font-semibold">Status</p>
        <p class="mb-2">{{ lead.get_status_display }}</p>

        <p class="font-semibold">Created_at</p>
        <p class="mb-2">{% timezone "Europe/Moscow" %}{{ lead.created_at|date:"M-d-Y H:i" }}{% endtimezone %}</p>

        <p class="font-semibold">Modifed_at</p>
        <p class="mb-2">{% timezone "Europe/Moscow" %}{{ lead.modified_at|date:"M-d-Y H:i"}}{% endtimezone %}</p>

        <hr class="my-1">

        <a href="{% url 'leads_convert' lead.id %}" class="py-1 px-4 rounded-xl bg-green-800 | font-mono italic text-[20px] text-white">Convert to client</a>
        <a href="{% url 'leads_edit' lead.id %}" class="py-1 px-4 rounded-xl bg-lime-800 | font-mono italic text-[20px] text-white">Edit</a>
        <a href="{% url 'leads_delete' lead.id %}" class="py-1 px-4 rounded-xl bg-red-600 | font-mono italic text-[20px] text-black">Delete</a>

        <hr class="my-1">

        <a href="{% url 'leads_list' %}" class="font-mono font-bold text-[20px]">Back to leads</a>
    </div>

{% endblock %}